<div class="sidebar">

<h2>SupplyChain</h2>

<a routerLink="/admin/dashboard" routerLinkActive="active">
  Dashboard
</a>

<a routerLink="/admin/inventory" routerLinkActive="active">
  Inventory
</a>

<a routerLink="/admin/vendors" routerLinkActive="active">
  Vendors
</a>

<a routerLink="/admin/warehouses" routerLinkActive="active">
  Warehouses
</a>

<a routerLink="/admin/purchase-orders" routerLinkActive="active">
  Purchase Orders
</a>

<a routerLink="/admin/grn" routerLinkActive="active">
  GRN
</a>

<a routerLink="/admin/analytics" routerLinkActive="active">
  Analytics
</a>
</div>